{% extends "layout.html" %}

{% block title %}
    Admin Login
{% endblock %}

{% block header %}
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
        <h1 class="sitename">DívidaLivre</h1>
        </a>

        <nav id="navmenu" class="navmenu">
        <ul>
            <li><a href="#hero" class="active">Início</a></li>
            <li><a href="#about">Sobre Nós</a></li>
            <li><a href="#contact">Fale Conosco</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="https://wa.me/15550526560"><i class="bi bi-whatsapp"></i></a>

    </div>
{% endblock %}

{% block main %}

    <section class="container" style="margin-top:5%">
        <div class="form-container">
            <h1>Adicionar Novo Lead</h1>
            <form action="/adicionar_lead" method="post">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" id="telefone" name="telefone" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="telefone">CNPJ (opcional)</label>
                    <input type="text" id="cnpj" name="cnpj" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Adicionar Lead</button>
            </form>
        </div>

        <div class="table-container text-center">
            <div class="table-header">
                <h2>Lista de Leads</h2>
                <button id="refresh-btn-newleads" class="btn btn-secondary">Atualizar</button>
            </div>
        
            <!-- Tabela para novos leads -->
            <div class="table-responsive">
                <table id="new-leads-table" class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>CNPJ</th>
                            <th>Data de Criação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dados serão inseridos aqui pelo JavaScript -->
                    </tbody>
                </table>
            </div>

            <button id="send-whatsapp-btn" class="btn btn-primary">Enviar Mensagem no WhatsApp</button>
        </div>
    </section>
    <section class="container">
        <div class="table-container text-center">
            <div class="table-header">
                <h2>Leads Contatados</h2>
            </div>
            <!-- Tabela para leads contatados -->
            <div class="table-responsive">
                <table id="contacted-leads-table" class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>CNPJ</th>
                            <th>Data de Criação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dados serão inseridos aqui pelo JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="table-container text-center">
            <div class="table-header">
                <h2>Leads Esperando Contato</h2>
            </div>
            <!-- Tabela para leads esperando contato -->
            <div class="table-responsive">
                <table id="waiting-leads-table" class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>CNPJ</th>
                            <th>Data de Criação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dados serão inseridos aqui pelo JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    


    </section>
{% endblock %}

{% block footer %}
    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">SerasaLivre</strong><span>Todos os direitos reservados.</span></p>
        <div class="credits">

        <p> Designed by Matheus Sá</p>
        <p>{{mode}}</p>
        <p>{{token}}</p>
        <p>{{challenge}}</p>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function fetchLeads() {
                fetch('/get_all_leads')
                    .then(response => response.json())
                    .then(data => {
                        const newLeadsTableBody = document.querySelector('#new-leads-table tbody');
                        const contactedLeadsTableBody = document.querySelector('#contacted-leads-table tbody');
                        const waitingLeadsTableBody = document.querySelector('#waiting-leads-table tbody');

                        // Limpar as tabelas antes de inserir novos dados
                        newLeadsTableBody.innerHTML = '';
                        contactedLeadsTableBody.innerHTML = '';
                        waitingLeadsTableBody.innerHTML = '';

                        // Iterar sobre os leads e preenchê-los nas tabelas apropriadas
                        data.forEach(lead => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${lead.nome || ''}</td>
                                <td>${lead.telefone || ''}</td>
                                <td>${lead.cnpj || ''}</td>
                                <td>${lead.data_criacao || ''}</td>
                            `;

                            // Verifica o status do lead e o insere na tabela correspondente
                            if (lead.lead_status === 'novo') {
                                newLeadsTableBody.appendChild(row);
                            } else if (lead.lead_status === 'contatado') {
                                contactedLeadsTableBody.appendChild(row);
                            } else if (lead.lead_status === 'esperando') {
                                waitingLeadsTableBody.appendChild(row);
                            }
                        });
                    })
                    .catch(error => console.error('Erro ao buscar leads:', error));
            }

            function sendWhatsAppMessages() {
                console.log("Sending WhatsApp messages...");
                fetch('/send_whatsapp_messages', { method: 'POST' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log("WhatsApp response:", data);
                        alert('Mensagens enviadas com sucesso!');
                    })
                    .catch(error => {
                        console.error('Erro ao enviar mensagens:', error);
                        alert('Erro ao enviar mensagens.');
                    });
            }

            // Corrigido o ID do botão de atualizar
            document.getElementById('refresh-btn-newleads').addEventListener('click', fetchLeads);
            document.getElementById('send-whatsapp-btn').addEventListener('click', sendWhatsAppMessages);

            // Fetch leads on page load
            fetchLeads();
        });
    </script>

{% endblock %}


